@use "sass:map";
@use "@/styles/cunningham-tokens-sass" as *;

$tablet: map.get($themes, "default", "theme", "breakpoints", "tablet");

.drive__home {
  --header-height: 91px;

  .c__header {
    height: var(--header-height);
    min-height: var(--header-height);
    max-height: var(--header-height);
    border: none;
  }

  .c__main-layout__content {
    margin-top: var(--header-height);

    .c__main-layout__content__center__children {
      height: calc(100dvh - var(--header-height));
    }

    .c__right-panel {
      height: calc(100dvh - var(--header-height));
    }
  }

  .c__hero {
    height: calc(100vh - var(--header-height));
  }

  @media (max-width: $tablet) {
    --header-height: 52px;

    .c__header {
      .drive__header__left {
        img:first-child {
          display: none;
        }
      }

      .c__header__right {
        > * {
          display: none !important;
        }
      }
    }
  }

  &__left-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 0;
  }
}

.drive__header__left {
  display: flex;
  align-items: center;
  gap: 2rem;
}
