.explorer {
  display: flex;
  min-height: calc(100vh - 52px);
  background-color: var(--c--theme--colors--greyscale-050);
  justify-content: center;
  align-items: flex-start;
  position: relative;

  &--app {
    padding: 16px;

    .explorer__container {
      width: 992px;
    }
  }

  &--sdk {
    .explorer__container {
      width: 100%;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__filters {
    height: 32px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--c--theme--colors--greyscale-600);
  }

  &--drop-zone--drag-accept {
    .explorer__content {
      background-color: var(--c--theme--colors--primary-050);
      box-shadow: var(--c--theme--colors--primary-500) 0 0 0 3px inset;
      border-radius: 2px;

      table {
        tbody {
          background-color: var(--c--theme--colors--primary-050);
        }
      }
    }
  }

  &--drop-zone--drag-reject {
    background-color: var(--c--theme--colors--error-050);
  }

  &__content {
    flex: 1;
    background-color: #fff;
    border: 1px var(--c--theme--colors--greyscale-200) solid;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-sizing: content-box;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

    &__breadcrumbs {
      display: flex;
      justify-content: space-between;

      &__actions {
        padding-right: 6px;
      }
    }
  }

  &__grid {
    &__item {
      &__name {
        display: flex;
        align-items: center;
        gap: 8px;
        text-decoration: none;
        color: var(--c--theme--colors--greyscale-700);

        .c__tooltip {
          max-width: 100%;
        }

        > img {
          // Need to set width and height to prevent layout shift
          // and to make overflow calculations work correctly before
          // the image is loaded
          width: 32px;
          height: 32px;
        }

        &__text {
          font-size: 14px;
          font-weight: 400;
          color: var(--c--theme--colors--greyscale-1000);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      &__last-update {
        font-size: 12px;
        font-weight: 400;
        color: var(--c--theme--colors--greyscale-600);
      }
    }

    &.c__datagrid--empty {
      border: none;
    }

    .c__datagrid__empty-placeholder img {
      border: none;
    }

    &__empty {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 4px;

      &__caption {
        font-size: 14px;
        color: var(--c--theme--colors--greyscale-1000);
        font-weight: 700;
      }
      &__cta {
        font-size: 12px;
        color: var(--c--theme--colors--greyscale-600);
        font-weight: 400;
      }
    }

    table {
      &:focus-within {
        outline: none;
      }

      tbody {
        transition: background-color 0.3s ease;

        tr td:first-child,
        tr th:first-child {
          padding-left: 6px;
        }

        tr td:last-child,
        tr th:last-child {
          padding-right: 6px;
        }

        tr.selected {
          background-color: var(--c--theme--colors--primary-100);
        }

        tr {
          cursor: default;
          user-select: none;
        }
      }
    }
  }

  &__tree {
    &__actions {
      display: flex;
      gap: 8px;
      align-items: center;
      justify-content: space-between;
      padding: 12px;

      &__left {
        display: flex;
        gap: 8px;
        align-items: center;
      }
    }
  }

  &__selection-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    padding: 0 8px;
    background-color: var(--c--theme--colors--primary-050);
    border: 1px solid var(--c--theme--colors--primary-300);
    border-radius: 4px;

    &__left {
      display: flex;
      gap: 16px;
      align-items: center;
    }

    &__actions {
      display: flex;
      gap: 4px;
      align-items: center;
    }

    &__caption {
      font-size: 14px;
      font-weight: 500;
      color: var(--c--theme--colors--primary-800);
    }
  }
}

.file-upload-toast {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__item {
    padding: 8px !important;
  }

  &__files {
    background-color: var(--c--theme--colors--greyscale-000);
    padding: 4px 12px;
    border-radius: 4px;
    border: 1px solid var(--c--theme--colors--primary-200);
    overflow-y: auto;
    margin-bottom: 8px;
    transition: all 0.2s ease-in-out;
    max-height: 250px;

    &--closed {
      margin-bottom: 0;
      max-height: 0;
      padding: 0 12px;
      opacity: 0;
    }

    &__item {
      font-size: 14px;
      color: var(--c--theme--colors--greyscale-1000);
      font-weight: 500;
      display: flex;
      justify-content: space-between;
      height: 40px;
      align-items: center;

      &__size {
        font-size: 14px;
        font-weight: 400;
        color: var(--c--theme--colors--greyscale-600);
      }

      &__name {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }

  &__description {
    height: 32px;
    display: flex;
    align-items: center;
    padding: 0 8px 0 8px;
    justify-content: space-between;
  }
}
