.explorer-layout {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 52px);

  &__sidebar {
    width: 200px;
    height: 100%;
    background-color: #fff;
    border: 1px grey solid;
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    &__inner {
      width: 800px;
    }
  }
}
