.user-avatar {
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.95);
  border-radius: 50%;
  background-color: #00a95f;
}

.user-row {
  display: flex;
  align-items: center;
  gap: var(--c--theme--spacings--xs);

  &__name {
    font-size: 14px;
    font-weight: 500;
    color: var(--c--theme--colors--greyscale-1000);
  }
}
