@use "@gouvfr-lasuite/ui-kit/style";
@use "./cunningham-tokens.css";
@use "./../features/layouts/components/global/GlobalLayout.scss";
@use "./../features/layouts/components/explorer/ExplorerLayout.scss";
@use "./../features/explorer/components/Explorer.scss";
@use "./../features/explorer/components/right-panel/ExplorerRightPanel.scss";
@use "./../features/layouts/components/header/index.scss";
@use "./../features/ui/components/breadcrumbs";
@use "./../features/ui/components/toaster";
@use "./../features/explorer/components/tree/ExplorerTree.scss";
@use "./../features/ui/components/info/InfoRow.scss";
@use "./../features/ui/components/responsive";
@use "./../pages/index.scss" as *;
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

// Related to @viselect/react
.selection-area {
  background: rgba(46, 115, 252, 0.11);
  border: 2px solid rgba(98, 155, 255, 0.81);
  border-radius: 0.1em;

  &__container {
    user-select: none;
  }
}

.p-2xs {
  padding: var(--c--theme--spacings--2xs);
}

.p-xs {
  padding: var(--c--theme--spacings--xs);
}

.p-sm {
  padding: var(--c--theme--spacings--sm);
}

.p-md {
  padding: var(--c--theme--spacings--md);
}

.p-base {
  padding: var(--c--theme--spacings--base);
}
